body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #b3b3b3;
}

.sidebar {
    width: 5%;
    border-right: 1px solid #cecece;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    background-color: #b3b3b3;
    height: 100%;
}

.sidebar img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.sidebar .HR-image {
    width: 80px;
    height: 80px;
    margin-top: auto;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send-message-btn {
    margin-top: 10px;
    background-color: #FF5733;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.send-message-btn:hover {
    background-color: #E74C3C;
}

.email-list {
    width: 35%;
    border-right: 1px solid #d3d3d3;
    overflow-y: auto;
    padding-top: 20px;
    background-color: #ffffff;
}

.email-list a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #2c3e50;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

.email-list a:hover {
    background-color: #c9c9c9;
}

.subject {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.user-info {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.user-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-size: 14px;
    font-weight: bold;
}

.main-content {
    display: flex;
    width: 75%;
    flex-direction: column;
}

.email-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f0f2f5;
}

.email-body {
    display: none;
    padding: 40px;
    background-color: #f8f8f8;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.email-body:target {
    display: block;
}

.email-body h2 {
    margin-bottom: 15px;
    color: #313131;
}

.email-body p {
    margin-top: 15px;
    line-height: 1.6;
    color: #252525;
}

.reply-section {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
}

.reply-section textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
}

.reply-section button.send-btn {
    padding: 10px 20px;
    background-color: #FF5733;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.reply-section .file-btn {
    padding: 10px 20px;
    background-color: #FF5733;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
}

.reply-section .file-btn:hover {
    background-color: #E74C3C;
}

.reply-section button.send-btn:hover {
    background-color: #E74C3C;
}

.email-date-time {
    font-size: 12px; 
    color: #777; 
    margin-top: 5px;
    margin-left: auto;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .reply-section {
    display: block;
}

