body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  padding-top: 90px;
  line-height: 1.4;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  color: #333;
  text-align: center;
}

.container a {
  font-size: 1.2em;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 1.2em;
  text-align: left;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
  margin-bottom: 15px;
}

.form-group button {
  padding: 15px 30px;
  background-color: #f03730;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  background-color: #f82d26;
}

.form-group textarea {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2em;
  margin-bottom: 15px;
}